footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #666;
  border-top: #4aaaa5 solid;
  border-width: 5px;
  text-align: center;
  margin-top: 10px;
}
